body
{
    background: #ADE0EB;
    padding: 0;
    margin-top: 100px;
    text-align: center;
}

#container
{
    display: inline-block;
    box-sizing: border-box;
    background: #808080;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 7px 10px 34px 1px rgba(0, 0, 0, 0.68), inset -1px -6px 12px 0.1px #89847e;
}

#screen
{
    font-family: 'Roboto', sans-serif;
    text-align: right;
    height: 120px;
    background: #0C0C0C;
    border: 2px solid #1C1C1C;
}

#screen h1
{
    margin: 10px 10px 0 0;
    font-size: 60px;
    font-weight: 300;
    color: #00D7FF;
}

#screen h2
{
    margin: 0px 15px 0 0;
    font-size: 20px;
    font-weight: 300;
    color: #009BC0;
}

#buttons
{
    background: #1C1C1C;
}

button
{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    color: #646464;
    display: block;
    float: left;
    position:relative;
    width: 80px;
    height: 60px;
    background-color: #262626;
    padding: 0;
    margin: 0;
    border: 1px solid #202020;
    border-radius: 2px;
    outline: none;
    box-shadow: inset -3px 3px 2px 0px rgba(46,46,46,1), inset 2px -2px 0px 0px rgba(32,32,32,1);
    cursor: pointer;
}

button:active
{
    top: 2px;
}

#ac,#ce,#ans
{
    color: #986300;
}

#dot
{
    font-size: 30px;
}

.operator,.operator-equals
{
    background: #1C1C1C;
    border-top: 1px #1A1A1A solid;
    border-right: 1px #1A1A1A solid;
    box-shadow: inset -3px 3px 2px 0px rgba(41,41,41,1), inset 3px -3px 1px 0px rgba(24,24,24,1);
    color: #009BC0;
}

.float
{
    float: left;
}

.clear-float
{
    clear: both;
}

button.zero
{
    width: 160px;
}